* {
    box-sizing: border-box;
}
@media screen and (max-width: 550px) {
    :root {
        font-size: 0.85rem;
    }
}
main button.text-white{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
main button:hover{
    opacity: 0.85;
    transition: 0.2s ease;
}